//colors
$color-white: #fff;
$color-black: #000;
$color-gray: #bababa;
$color-background-gray: #f3f3f3;
$color-dark-gray: #757575;
$color-green: #bcd546;
$color-dark-green: #81b36e;
$color-marine: #429099;
$color-blue: #1375b8;

//screens
$big-screen:  768px;
$tablet-screen: 480px;
$small-screen: 320px;

$spacing: 30px;